body {
background: rgb(53, 108, 191);
}

.sel {
background-color:#000;
color:#fff;
width:300px;
text-align: center;
height:16rem;
font-size: 2rem;
}
option:checked {
    box-shadow: 0 0 10px 100px rgb(67, 221, 161) inset;
}
.sel option:nth-child(even):hover {
background:rgb(118, 230, 189);
}
.sel option:nth-child(odd):hover {
background:rgb(26, 109, 144);
}
.sel option {
margin-top: 1.5rem;
}
input[type="text"] {
background:rgb(95, 175, 193);
font-size: 2rem;

}



.calc_result {
font-size: 3rem;
color:#fff;
position: relative;
left:25%;

}
