*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body {
background: rgb(53, 108, 191);
}
.good{
background: rgb(81, 210, 133);
width:200px;
}
.sel {
background-color:#000;
color:#fff;
width:300px;
text-align: center;
height:16rem;
font-size: 2rem;
}
option:checked {
    box-shadow: 0 0 10px 100px rgb(67, 221, 161) inset;
}
.sel option:nth-child(even):hover {
background:rgb(118, 230, 189);
}
.sel option:nth-child(odd):hover {
background:rgb(26, 109, 144);
}
.sel option {
margin-top: 1.5rem;
}
input[type="text"] {
background:rgb(95, 175, 193);
font-size: 2rem;

}
.denied {
  background-color: rgb(201, 122, 122);
  animation-name: denied;
  animation-duration: 2s;
  animation-iteration-count: 1;
  width:500px;
  color:#fff;
  font-size: 64px;
}
@keyframes denied{
  0%   {background-color: rgb(255, 88, 88);
  width:500px;
  }
    25%  {background-color: rgb(233, 122, 122);
      width:700px;
      font-size: 5rem

    }
    50%  {background-color: rgb(8, 19, 89);
      color:#fff;
      width:600px;
      font-size: 3rem

    }
    100% {background-color: rgb(195, 111, 111);
      width:500px;
      font-size: 5rem;

    }
}
.calc_result {
font-size: 3rem;
color:#fff;
position: relative;
left:25%;

}
